table {
  width: 1000px;
  margin: 0 auto;
  border: 2px solid #044638;
  border-radius: 8px;
  border-spacing: 0;
}

thead {
  background-color: #0f4068;
  color: white;
}

tr {
  display: flex;
  justify-content: space-around;
}

th:not(th:nth-child(6)),
td:not(td:nth-child(6)) {
  width: calc(1000px / 8);
}

td {
  padding: 10px 5px;
  border-bottom: 1px solid #044638;
}

td:not(td:nth-child(6)) {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

th:nth-child(6),
td:nth-child(6) {
  width: calc(1000px / 4);
}

td:last-child {
  padding-left: 15px;
}

input[type="text"] {
  font-weight: 600;
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  color: #07392f;
  height: max-content;
  text-overflow: clip;
  padding: 2px 5px;
  width: 100px;
  height: 20px;
}

input + button {
  margin: auto auto 5px 5px;
}

td:last-child > button {
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

td:last-child > button + button {
  transform: translateX(-50%);
}

td:last-child > button + button:hover {
  background-color: red;
}
