.form-info {
  position: relative;
  width: 1000px;
  height: 150px;
  margin: 30px auto;
  border-radius: 10px;
  border: 2px solid #044638;
  color: #07392f;
}

.form-info > span {
  position: absolute;
  padding: 20px 30px 5px;
  top: 0;
  height: 100%;
}
.form-info > span:first-of-type {
  left: 0;
}

.form-info > span:last-of-type {
  right: 0;
  width: 10%;
  min-width: 200px;
}

.form-info .form-title {
  display: inline;
  width: 200px;
  margin-right: 20px;
  font-size: large;
}

.form-info h3:last-of-type {
  width: 100%;
  padding: 10px 0;
  font-size: large;
}

.form-info select {
  border-radius: 10px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  font-size: medium;
  border: 1px solid #107660;
  color: #07392f;
}

.form-info textarea {
  font-weight: 600;
  border: 1px solid #107660;
  border-radius: 7px;
  padding: 2px 7px;
  width: 750px;
}

.form-info button ,
.form-info input[type="text"],
.form-info input[type="submit"] {
  border-radius: 10px;
  font-size: medium;
  font-weight: 400;
  width: 180px;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  transform: translateX(-20px);
}

.form-info input[type="text"] {
  text-align: left;
  padding: 0 5px;
}

.form-info button ,
.form-info input[type="submit"] {
  text-align: center;
  border: 1px solid #107660;
  cursor: pointer;
}

.form-info button:hover,
.form-info input[type="submit"]:hover {
  color: white;
  border: none;
}

.form-info button:hover {
  background-color: #107660;
}

.form-info input[type="submit"]:hover {
  background-color: #3b0443;
  opacity: 0.8;
}
